    body, html {
    margin: 0;
    padding:0;
    }

    body {
    Display: flex;
    flex-direction: column;
    background-color:rgb(56, 53, 53);
    min-height: 605px;
    }

    main {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    }

    aside { 
    width: 100rem;
    font-size: 1,5vw;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    }

    nav {
    width: 50rem;
    font-size: 1,5vw;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    }

    article {
    font-size: 2vw;
    background-color:grey;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    }

    footer {
    font-size: 1vw;
    background-color:rgb(56, 53, 53);
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(78, 78, 78);
    }
  
    header {
    font-size: 2vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:rgb(56, 53, 53);
    }

    button {
    position: relative;
    justify-items: center;
    }

    #biographie {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 5%;
    text-align: justify;
    }

    figcaption {
        text-align: center;
        font-weight: bold;
    }

    #logorouen {
        position: relative;
        top: 0px;
        left:0px;
        float: left;
        max-width: 6%;
        height: auto;
    }

    #logomonuhist {
        max-width:7%;
        height: auto;
    }

    #logomuseefr {
        max-width:7%;
        height: auto;
    }

    #logoillustre {
        max-width:7%;
        height: auto;
    }

    #photo1 {
        max-width:100%;
        height: auto;
    }

    #photo2 {
        max-width:100%;
        height: auto;
    }

    #photo3 {
        max-width:100%;
        height: auto;
    }

    #photo4 {
        max-width:100%;
        height: auto;
    }

    #photomoi {
        padding-right: 4%;
        float: left;
        max-width:20%;
        height: auto;
    }




@media (max-width:450px){

main {
flex-direction: column-reverse;
}
article {
font-size: 4vw;
}
footer {
font-size: 3vw;
}
nav {
font-size: 3vw;
}
aside {
font-size: 3vw;
}
}
    